*.cjs.js
*.d.ts
*.d.ts.map
*.dist.*
*.esm.js
*.js
*.js.map
*.tsbuildinfo
*/*.tsbuildinfo
**/*.tsbuildinfo
.DS_Store
.docs
.nyc_output
.pnpm-debug.log
.vscode
.yarn
WORKSPACE
_tmp_*
coverage
dist
doc/typedoc
docs
docs.json
empty.wasm.json
examples/wasm
index.html
node_modules
package-lock.json
receipts
scratch.rs
state
target
tarpaulin-report.html
wasm/*
yarn-error.log
yarn.lock

!page/*.js
